<div class="location">
  <div class="page-location">
    <div class="account-container">
      <span class="account">Account / </span>
      <span class="dashboard1">Dashboard</span>
    </div>
  </div>
  <div class="dashboard-view">
    <div class="content">
      <div class="data-visualization">
        <div class="metrics">
          <h1 class="dashboard2">Dashboard</h1>
        </div>
        <div class="sales-chart">
          <div class="chart">
            <div class="chart-data">
              <div class="container-162">
                <div class="chart-divider">$ 5,000</div>
                <div class="chart-labels">
                  <b class="revenue">Revenue</b>
                </div>
                <img
                  class="container-163-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/container-163.svg"
                />
              </div>
              <div class="container-164">
                <div class="div">
                  <span class="span">420</span>
                  <span class="span1">/900</span>
                </div>
                <div class="tickets-sold-wrapper">
                  <b class="tickets-sold">Tickets Sold</b>
                </div>
                <img
                  class="container-165-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/container-165.svg"
                />
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="event-analytics">
        <div class="analytics">
          <div class="button-91">
            <div class="filter-options">
              <img
                class="funnel-icon"
                alt=""
                src="/assets/public/funnel.svg"
              />
            </div>
            <div class="filter">Filter</div>
          </div>
        </div>
        <div class="engagement-metrics">
          <div class="metrics-data">
            <div class="chart-data">
              <div class="container-166">
                <div class="metric-divider">1,000</div>
                <div class="filter-chart-titles">
                  <b class="event-views">Event Views</b>
                </div>
                <img
                  class="container-167-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/container-1631.svg"
                />
              </div>
              <div class="container-168">
                <div class="div1">200</div>
                <div class="event-shares-wrapper">
                  <b class="event-shares">Event Shares</b>
                </div>
                <img
                  class="container-167-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/container-1651.svg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
