<div class="event-history">
  <div class="recent-purchases">
    <div class="sales-filter">
      <img
        class="currency-dollar-2"
        loading="lazy"
        alt=""
        src="/assets/public/currency-dollar-2.svg"
      />
      <h2 class="sales-by-event">Sales by event</h2>
    </div>
    <div class="timestamp-wrapper-wrapper">
      <div class="update-time">
        <div class="search-icon">
          <div class="the-last-update">
            The last update: 10 minutes ago
          </div>
        </div>
        <div class="button-79">
          <div class="sort-by-sales">Sort by: Sales</div>
          <div class="filter-options">
            <img
              class="funnel-icon"
              alt=""
              src="/assets/public/chevron-down-large.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="event-table">
    <app-event-list-admin></app-event-list-admin>
  </div>


</div>
