<div class="purchase-history">
  <div class="recent-purchases">
    <div class="frame-parent">
      <div class="search-icon">
        <img
          class="ticket-12-icon"
          loading="lazy"
          alt=""
          src="/assets/public/ticket-12.svg"
        />
      </div>
      <h2 class="recent-purchases1">Recent purchases</h2>
    </div>
    <div class="timestamp-wrapper-wrapper">
      <div class="timestamp-wrapper">
        <div class="timestamp-content">
          <div class="the-last-update">
            The last update: 10 minutes ago
          </div>
        </div>
        <button class="button-80">
          <div class="view-all-purchases">View all purchases</div>
        </button>
      </div>
    </div>
  </div>
  <div class="event-table">
    <table class="table-2">
      <thead>
      <tr class="header1">
        <th class="purchase-header-columns">
          <div class="code">Code</div>
        </th>
        <th class="purchase-header-columns1">
          <div class="code">Buyer</div>
        </th>
        <th class="purchase-header-columns2">
          <div class="code">Date</div>
        </th>
        <th class="purchase-header-columns3">
          <div class="code">Time</div>
        </th>

      </tr>
      </thead>
      <tbody>
      <tr class="row1">
        <td class="purchase-row-icons">
          <div class="div2">#238920483</div>
        </td>
        <td class="purchase-row-avatars">
          <div class="avatar-container">
            <img class="avatar-icon" loading="lazy" alt="" src="/assets/public/avatar@2x.png" />
          </div>
          <div class="div3">Ashley Wilson</div>
        </td>
        <td class="frame5">
          <div class="div3">11/18/2022</div>
        </td>
        <td class="purchase-times">
          <div class="div3">11:25 PM</div>
        </td>

      </tr>
      </tbody>
    </table>
  </div>

</div>
