<div class="home-event-listing">
  <header class="container-43">
    <div class="image-19-parent">
      <img
        class="image-19-icon"
        loading="lazy"
        alt=""
        src="/assets/public/image-19@2x.png"
      />

      <div class="event-title1">
        <a class="yourevent2">
          <span>Your</span>
          <span class="event2">Event</span>
        </a>
      </div>
    </div>
    <div class="side-navigation">
      <div class="nav-links">
        <div class="explore-link">
          <div class="explore-button">
            <div class="explore-wrapper">
              <a class="explore">Explore</a>
            </div>
            <div class="explore-divider"></div>
          </div>
          <a class="upcoming-events1">Upcoming Events</a>
        </div>
        <a class="my-tickets">My tickets</a>
      </div>
    </div>
    <div class="user-dropdown">
      <div class="user-actions">
        <div class="notifications">
          <img
            class="bell-1-icon"
            loading="lazy"
            alt=""
            src="/assets/public/bell-1@2x.png"
          />
        </div>
        <img
          class="avatar-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/avatar-1@2x.png"
        />

        <div class="user-name">
          <div class="user">
            <img
              class="chevron-down-large-3"
              alt=""
              src="/assets/public/chevron-down-large-3@2x.png"
            />

            <a class="amanda-smith">Amanda Smith</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="container-36-wrapper">
    <div class="container-36">
      <div class="search-input">
        <div class="search-field">
          <h1 class="discover-unforgettable-experie-container">
            <p class="discover-unforgettable-experie">
              Discover Unforgettable Experience at
            </p>
            <p class="spectacular-events">Spectacular Events</p>
          </h1>
          <div class="search-icon">
            <div class="textbox-6">
              <div class="icon">
                <img
                  class="bell-1-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/search@2x.png"
                />
              </div>
              <input class="search1" placeholder="Search" type="text" />
            </div>
          </div>
        </div>
      </div>
      <div class="trending-header-parent">
        <div class="trending-header">
          <h1 class="top-3-trending-container">
            <span>Top 3</span>
            <span class="trending-events"> trending events</span>
          </h1>
        </div>
        <div class="container-37-parent">
          <div class="container-37">
            <div class="event-item">
              <img
                class="image-16-icon"
                alt=""
                src="/assets/public/image-16@2x.png"
              />

              <img
                class="container-38-icon"
                loading="lazy"
                alt=""
                src="/assets/public/container-38@2x.png"
              />
            </div>
            <div class="event-info">
              <div class="event-heading-parent">
                <div class="event-heading">
                  <b class="country-legends">Country Legends</b>
                  <div class="event-time">
                    <div class="time">
                      <div class="location">
                        <img
                          class="calendar-1-icon"
                          loading="lazy"
                          alt=""
                          src="/assets/public/calendar-1@2x.png"
                        />
                      </div>
                      <b class="thursday-september-16"
                      >Thursday, September 16 | 08:30 PM</b
                      >
                    </div>
                    <div class="event-location1">
                      <div class="location">
                        <img
                          class="calendar-1-icon"
                          loading="lazy"
                          alt=""
                          src="/assets/public/pin-3-1@2x.png"
                        />
                      </div>
                      <div class="new-york-ny8">New York, NY</div>
                    </div>
                  </div>
                </div>
                <div class="from-100-wrapper">
                  <div class="from-80">From $80</div>
                </div>
              </div>
            </div>
          </div>
          <div class="event-two">
            <div class="container-41">
              <div class="event-item">
                <img
                  class="image-16-icon"
                  alt=""
                  src="/assets/public/image-18@2x.png"
                />

                <img
                  class="container-38-icon"
                  loading="lazy"
                  alt=""
                  src="/assets/public/container-38@2x.png"
                />
              </div>
              <div class="content">
                <div class="heading">
                  <div class="event-name1">
                    <b class="classical-serenade">Classical Serenade</b>
                    <div class="date-time-location">
                      <div class="date-location">
                        <div class="icons">
                          <img
                            class="calendar-1-icon"
                            loading="lazy"
                            alt=""
                            src="/assets/public/calendar-1@2x.png"
                          />
                        </div>
                        <b class="thursday-september-16"
                        >Monday, June 06 | 06:42 AM</b
                        >
                      </div>
                      <div class="event-location1">
                        <div class="icons">
                          <img
                            class="calendar-1-icon"
                            loading="lazy"
                            alt=""
                            src="/assets/public/pin-3-1@2x.png"
                          />
                        </div>
                        <div class="new-york-ny8">New York, NY</div>
                      </div>
                    </div>
                  </div>
                  <div class="pricing">
                    <div class="from-80">From $60</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-37">
            <div class="event-item">
              <img
                class="image-16-icon"
                alt=""
                src="/assets/public/image-17@2x.png"
              />

              <img
                class="container-38-icon"
                loading="lazy"
                alt=""
                src="/assets/public/container-38@2x.png"
              />
            </div>
            <div class="container-39-inner">
              <div class="frame-parent10">
                <div class="electric-sumphony-parent">
                  <b class="electric-sumphony">Electric Sumphony</b>
                  <div class="event-time">
                    <div class="time">
                      <div class="location">
                        <img
                          class="calendar-1-icon"
                          alt=""
                          src="/assets/public/calendar-1@2x.png"
                        />
                      </div>
                      <b class="thursday-september-16"
                      >Sunday, June 06 | 07:00 PM</b
                      >
                    </div>
                    <div class="event-location1">
                      <div class="location">
                        <img
                          class="calendar-1-icon"
                          alt=""
                          src="/assets/public/pin-3-1@2x.png"
                        />
                      </div>
                      <div class="new-york-ny8">New York, NY</div>
                    </div>
                  </div>
                </div>
                <div class="from-100-wrapper">
                  <div class="from-1002">From $100</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="new-events">
    <div class="city-events">
      <div class="city-header">
        <div class="city-title">
          <div class="new-events-in-nyc-parent">
            <a class="new-events-in-container1">
              <span>New events in </span>
              <span class="event2">NYC</span>
            </a>
            <div class="icon">
              <img
                class="bell-1-icon"
                loading="lazy"
                alt=""
                src="/assets/public/chevron-down-large-2@2x.png"
              />
            </div>
          </div>
          <div class="filters">
            <button class="event-category-button-list">
              <b class="all1">All</b>
            </button>
            <div class="event-category-button-list1">
              <div class="music2">Music</div>
            </div>
            <div class="event-category-button-list1">
              <div class="sport2">Sport</div>
            </div>
            <div class="event-category-button-list1">
              <div class="exhibition">Exhibition</div>
            </div>
            <button class="event-category-button-list4">
              <div class="business2">Business</div>
            </button>
            <div class="event-category-button-list5">
              <div class="photography2">Photography</div>
            </div>
          </div>
        </div>
        <div class="view-more-button">
          <button class="button-22">
            <div class="view-more4">View more</div>
          </button>
        </div>
      </div>
      <div class="rockin-event">
        <div class="event-card">
          <div class="container-48">
            <div class="event-item">
              <img
                class="image-16-icon"
                alt=""
                src="/assets/public/image-12@2x.png"
              />

              <img
                class="container-38-icon"
                loading="lazy"
                alt=""
                src="/assets/public/container-38@2x.png"
              />
            </div>
            <div class="container-48-inner">
              <div class="frame-parent14">
                <div class="urban-jungle-marathon-parent">
                  <b class="electric-sumphony">Urban Jungle Marathon</b>
                  <div class="event-time">
                    <div class="time">
                      <div class="icons">
                        <img
                          class="calendar-1-icon"
                          loading="lazy"
                          alt=""
                          src="/assets/public/calendar-1@2x.png"
                        />
                      </div>
                      <b class="thursday-september-16"
                      >Monday, June 06 | 06:00 AM</b
                      >
                    </div>
                    <div class="frame-parent17">
                      <div class="icons">
                        <img
                          class="calendar-1-icon"
                          loading="lazy"
                          alt=""
                          src="/assets/public/pin-3-5@2x.png"
                        />
                      </div>
                      <div class="new-york-ny8">New York, NY</div>
                    </div>
                  </div>
                </div>
                <div class="pricing">
                  <div class="from-80">From $10</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-46">
          <div class="event-item">
            <img
              class="image-16-icon"
              alt=""
              src="/assets/public/image-11@2x.png"
            />

            <img
              class="container-38-icon"
              loading="lazy"
              alt=""
              src="/assets/public/container-47@2x.png"
            />
          </div>
          <div class="container-39-inner">
            <div class="details-panel-parent">
              <div class="details-panel">
                <b class="electric-sumphony">"Rockin' the Stage</b>
                <div class="event-time">
                  <div class="time">
                    <div class="location">
                      <img
                        class="calendar-1-icon"
                        alt=""
                        src="/assets/public/calendar-1@2x.png"
                      />
                    </div>
                    <b class="thursday-september-16"
                    >Monday, March 14 | 04:00 PM</b
                    >
                  </div>
                  <div class="frame-parent17">
                    <div class="location">
                      <img
                        class="calendar-1-icon"
                        alt=""
                        src="/assets/public/pin-3-5@2x.png"
                      />
                    </div>
                    <div class="new-york-ny8">New York, NY</div>
                  </div>
                </div>
              </div>
              <div class="from-100-wrapper">
                <div class="from-1002">From $100</div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-46">
          <div class="event-item">
            <img
              class="image-16-icon"
              alt=""
              src="/assets/public/image-9@2x.png"
            />

            <img
              class="container-51-icon"
              loading="lazy"
              alt=""
              src="/assets/public/container-51.svg"
            />
          </div>
          <div class="container-50-inner">
            <div class="frame-parent19">
              <div class="melody-mania-group">
                <b class="melody-mania1">Melody Mania</b>
                <div class="event-time">
                  <div class="time">
                    <div class="location">
                      <img
                        class="calendar-6-icon"
                        alt=""
                        src="/assets/public/calendar-6.svg"
                      />
                    </div>
                    <b class="thursday-september-16"
                    >Wednesday, June 24 | 07:00 PM
                    </b>
                  </div>
                  <div class="frame-parent17">
                    <div class="location">
                      <img
                        class="calendar-6-icon"
                        alt=""
                        src="/assets/public/pin-3-6.svg"
                      />
                    </div>
                    <div class="new-york-ny8">New York, NY</div>
                  </div>
                </div>
              </div>
              <div class="free-ticket-frame">
                <div class="free-ticket2">Free ticket</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-52">
    <div class="upcoming-in-24h-parent">
      <h1 class="top-3-trending-container">
        <span>Upcoming </span>
        <span class="event2">in 24h</span>
      </h1>
      <div class="container-53">
        <div class="upcoming-event-card">
          <div class="item-content">
            <div class="event-discount">
              <img
                class="sale-icon2"
                loading="lazy"
                alt=""
                src="/assets/public/sale@2x.png"
              />
            </div>
            <div class="off1">20% OFF</div>
          </div>
          <div class="event-image-container">
            <img
              class="image-24-icon"
              alt=""
              src="/assets/public/image-24@2x.png"
            />

            <img
              class="container-54-icon"
              loading="lazy"
              alt=""
              src="/assets/public/container-38@2x.png"
            />
          </div>
        </div>
        <div class="upcoming-event-info1">
          <div class="musical-fusion-festival-parent">
            <b class="electric-sumphony">Musical Fusion Festival</b>
            <div class="upcoming-event-details1">
              <div class="upcoming-event-date-time-locat">
                <div class="time">
                  <div class="location">
                    <img
                      class="calendar-1-icon"
                      loading="lazy"
                      alt=""
                      src="/assets/public/calendar-1@2x.png"
                    />
                  </div>
                  <b class="thursday-september-16"
                  >Monday, June 06 | 06:00 PM</b
                  >
                </div>
                <div class="frame-parent17">
                  <div class="location">
                    <img
                      class="calendar-1-icon"
                      loading="lazy"
                      alt=""
                      src="/assets/public/pin-3-7@2x.png"
                    />
                  </div>
                  <div class="new-york-ny8">New York, NY</div>
                </div>
              </div>
            </div>
          </div>
          <div class="from-80-wrapper">
            <div class="from-80">From $80</div>
          </div>
        </div>
      </div>
    </div>
    <div class="upcoming-events-footer">
      <div class="button-23-wrapper">
        <button class="button-22">
          <div class="view-more4">View more</div>
        </button>
      </div>
      <div class="container-55">
        <div class="featured-event-card">
          <img
            class="image-25-icon"
            alt=""
            src="/assets/public/image-25@2x.png"
          />

          <button class="discount-offer">
            <div class="event-discount">
              <img class="sale-icon2" alt="" src="/assets/public/sale@2x.png" />
            </div>
            <div class="buy-2-get1">Buy 2 get 1 free</div>
          </button>
          <img
            class="container-56-icon"
            loading="lazy"
            alt=""
            src="/assets/public/container-38@2x.png"
          />
        </div>
        <div class="container-50-inner">
          <div class="frame-parent10">
            <div class="metropolis-marathon-parent">
              <b class="electric-sumphony">Metropolis Marathon</b>
              <div class="event-time">
                <div class="time">
                  <div class="location">
                    <img
                      class="calendar-1-icon"
                      loading="lazy"
                      alt=""
                      src="/assets/public/calendar-1@2x.png"
                    />
                  </div>
                  <b class="thursday-september-16"
                  >Tuesday, June 7 | 06:00 AM</b
                  >
                </div>
                <div class="frame-parent17">
                  <div class="location">
                    <img
                      class="calendar-1-icon"
                      loading="lazy"
                      alt=""
                      src="/assets/public/pin-3-7@2x.png"
                    />
                  </div>
                  <div class="atlanta1">Atlanta</div>
                </div>
              </div>
            </div>
            <div class="from-80-wrapper">
              <div class="from-80">From $10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container-57">
    <div class="button-26">
      <div class="button-label"></div>
      <div class="arrow-left-wrapper">
        <img
          class="bell-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/arrow-left@2x.png"
        />
      </div>
    </div>
    <div class="week-highlights">
      <div class="highlights-header">
        <div class="city-header">
          <div class="highlights-title-container">
            <h1 class="top-3-trending-container">
              <span>Highlights of </span>
              <span class="event2">this week</span>
            </h1>
          </div>
          <div class="highlights-carousel">
            <div class="highlight-cards">
              <div class="container-59">
                <div class="image-27-parent">
                  <img
                    class="image-27-icon"
                    alt=""
                    src="/assets/public/image-27@2x.png"
                  />

                  <img
                    class="icon-button-2"
                    loading="lazy"
                    alt=""
                    src="/assets/public/icon-button-2.svg"
                  />
                </div>
                <div class="highlight-content">
                  <div class="preview-info-parent">
                    <div class="preview-info">
                      <div class="start-at-1250">Start at $12.50</div>
                    </div>
                    <div class="eu-deserunt-excepteur-parent">
                      <b class="eu-deserunt-excepteur"
                      >Eu deserunt excepteur</b
                      >
                      <div class="sint-aliquip-nulla">
                        Sint aliquip nulla ad cillum ex eiusm
                      </div>
                    </div>
                    <div class="highlight-date-time-location">
                      <div class="frame-parent28">
                        <div class="location">
                          <img
                            class="calendar-6-icon"
                            loading="lazy"
                            alt=""
                            src="/assets/public/calendar-6.svg"
                          />
                        </div>
                        <div class="monday-june-066">
                          Monday, June 06 | 06:42 AM
                        </div>
                      </div>
                      <div class="frame-parent29">
                        <div class="location">
                          <img
                            class="calendar-6-icon"
                            alt=""
                            src="/assets/public/pin-3-10.svg"
                          />
                        </div>
                        <div class="new-york-ny15">New York, NY</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="button-22">
              <div class="view-more4">View more</div>
            </button>
          </div>
        </div>
        <div class="highlight-card-right">
          <img
            class="image-26-icon"
            alt=""
            src="/assets/public/image-26@2x.png"
          />

          <div class="container-58">
            <b class="exhibition">From $20</b>
            <div class="highlight-card-info">
              <h3 class="brushstrokes-beyond1">
                Brushstrokes & Beyond: An Oil Painting Odyssey
              </h3>
              <div class="brushstrokes-odyssey">
                <div class="event-details">
                  <div class="date-location">
                    <div class="location">
                      <img
                        class="calendar-1-icon"
                        loading="lazy"
                        alt=""
                        src="/assets/public/calendar-1@2x.png"
                      />
                    </div>
                    <b class="thursday-september-16"
                    >Tuesday, June 7 | 06:00 PM</b
                    >
                  </div>
                  <div class="frame-parent17">
                    <div class="location">
                      <img
                        class="calendar-1-icon"
                        loading="lazy"
                        alt=""
                        src="/assets/public/pin-3-7@2x.png"
                      />
                    </div>
                    <div class="forest-avenue-san1">
                      2678 Forest Avenue, San Jose, CA 95111
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="button-24">
              <div class="buy-2-get1">Purchase Ticket</div>
            </button>
          </div>
        </div>
      </div>
      <div class="navigation">
        <div class="button-27">
          <div class="button-label"></div>
          <div class="arrow-left-wrapper">
            <img
              class="bell-1-icon"
              loading="lazy"
              alt=""
              src="/assets/public/arrow-right@2x.png"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="container-44">
    <div class="footer-content2">
      <div class="footer-columns">
        <div class="footer-column">
          <img
            class="image-20-icon"
            loading="lazy"
            alt=""
            src="/assets/public/image-20@2x.png"
          />

          <div class="footer-brand">
            <h3 class="yourevent3">
              <span>Your</span>
              <span class="event2">Event</span>
            </h3>
          </div>
          <div class="footer-links1">
            <div class="links-container">
              <div class="categories2">
                <h3 class="categories3">Categories</h3>
                <div class="all2">All</div>
                <div class="all2">Music</div>
                <div class="sport3">Sport</div>
                <div class="all2">Exbition</div>
                <a class="business3">Business</a>
                <div class="all2">Photography</div>
              </div>
              <div class="categories2">
                <h3 class="resources2">Resources</h3>
                <div class="user-guides1">User guides</div>
                <div class="sport3">Help Center</div>
                <a class="business3">Partners</a>
                <div class="all2">Taxes</div>
              </div>
              <div class="categories2">
                <h3 class="company2">Company</h3>
                <a class="about1">About</a>
                <a class="about1">Join us</a>
              </div>
            </div>
          </div>
          <div class="newsletter1">
            <div class="newsletter-content">
              <h3 class="stay-in-the1">Stay in the loop</h3>
              <div class="for-product-announcements1">
                For product announcements and exclusive insights
              </div>
              <div class="textbox-8">
                <div class="location">
                  <img
                    class="calendar-1-icon"
                    alt=""
                    src="/assets/public/mail@2x.png"
                  />
                </div>
                <input
                  class="input-your-email1"
                  placeholder="Input your email"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
        <img
          class="footer-columns-child"
          alt=""
          src="/assets/public/line-5@2x.png"
        />
      </div>
      <div class="subscribe-button">
        <button class="button-21">
          <a class="subscribe1">Subscribe</a>
        </button>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="language">
        <div class="textbox-7">
          <a class="english1">English</a>
          <div class="location">
            <img
              class="calendar-1-icon"
              alt=""
              src="/assets/public/chevron-down-large@2x.png"
            />
          </div>
        </div>
      </div>
      <div class="legal1">
        <div class="legal-links1">
          <div class="copyright1">
            <div class="brand-inc1">© 2022 Brand, Inc.</div>
          </div>
          <div class="legal-items3">
            <div class="div3">•</div>
          </div>
          <a class="privacy1">Privacy</a>
          <div class="legal-items3">
            <div class="div3">•</div>
          </div>
          <div class="terms1">Terms</div>
          <div class="legal-items3">
            <div class="div3">•</div>
          </div>
          <div class="sitemap1">Sitemap</div>
        </div>
      </div>
      <div class="social-media">
        <img
          class="bell-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/logo-twitter-1@2x.png"
        />
      </div>
      <div class="social-media">
        <img
          class="bell-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/logo-facebook-1@2x.png"
        />
      </div>
      <div class="social-media">
        <img
          class="bell-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/logo-linkedin-1@2x.png"
        />
      </div>
      <div class="social-media">
        <img
          class="bell-1-icon"
          loading="lazy"
          alt=""
          src="/assets/public/logo-youtube-1@2x.png"
        />
      </div>
    </div>
  </footer>
</div>
