<div class="header">
  <header class="header-wrapper">
    <div class="header-container">
      <div class="header-content">
        <div class="header-actions">
          <img
            class="image-86-icon"
            loading="lazy"
            alt=""
            src="/assets/public/image-86@2x.png"
          />

          <a class="yourevent">
            <span>Your</span>
            <span class="event">Event</span>
          </a>
        </div>
        <div class="navigation-menu">
          <nav class="header-menu">
            <div class="menu-links">
              <a class="home">Home</a>
            </div>
            <div class="menu-links">
              <a class="home">My Events</a>
            </div>
          </nav>
          <button class="button-92" (click)="onCreateEvent()">
            <img class="e-add-icon" alt="" src="/assets/public/e-add.svg" />
            <a class="create-event">Create event</a>
          </button>
        </div>
      </div>
    </div>
    <div class="notification-icon">
      <img
        class="settings-gear-icon"
        alt=""
        src="/assets/public/bell-10.svg"
      />
    </div>
    <div class="search-icon">
      <img
        class="search-icon1"
        loading="lazy"
        alt=""
        src="/assets/public/frame@2x.png"
      />
    </div>
    <div class="profile-dropdown">
      <div class="profile">
        <div class="profile-info">
          <a class="brightvivecompany">BrightViveCompany</a>
        </div>
      </div>
    </div>
  </header>
  <div class="user-info">
    <div class="user">
      <div class="user-name">
        <img
          class="user-avatar-icon"
          alt=""
          src="/assets/public/frame-1.svg"
        />
      </div>
      <input
        class="jennifer-king"
        placeholder="Jennifer King"
        type="text"
      />
    </div>
  </div>
</div>
